body{
   /*background-color: #000000;*/
   
   background-image: url("night-star-5013141_1280.webp");
   
   background-size: cover;
   
   background-attachment: fixed;
   
   background-position: center center;
}

h1{
   color: #ffffff;
}
